@font-face {
    font-family: 'NotoSansKR';
    src: url('../../fonts/NotoSansKR.ttf');
}

* {
    font-family: 'NotoSansKR';
}

#alert-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    z-index: 999;
}

#alert {
    min-width: 350px;
    max-width: 450px;
    min-height: 50px;
    max-height: 300px;

    overflow-y: auto;

    border: 2px solid black;
    border-radius: 5px;

    background-color: rgb(238, 238, 238);

    text-align: center;

    display: flex;
    flex-direction: column;
}

#alert-title {
    flex-grow: 1;
}

#alert-content {
    flex-grow: 3;
}

#alert-close {
    flex-grow: 1;
}

#alert-close {
    bottom: 0;
    cursor: pointer;
    height: 2rem;
}

#records-content {
    margin: 15px;
}

#main {
    height: 72.5vh;
    transform: translateX(425px);
    transition: .3s transform;
    width: calc(100% - 425px);
    margin: 1rem 0 2rem 1rem;
}

#footer-block {
    height: 15vh;
}

#header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70%;
}
#home-link-wrapper {
    display: inline-block;
    margin: 0 15px;
    border: 2px solid #a3de4b;
    border-radius: 15px;
}
#home-link img {
    width: 40px;
    height: 40px;
    padding: 5px;
}
#records-page-header {
    margin-left: 20px;
    font-size: 1.5rem;
}
.records-separator-wrapper {
    display: flex;
    height: 3px;
    width: 100%;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}
.records-separator {
    width: 100%;
    height: 100%;
    background-color: #a3de4b;
    border-radius: 5px;
}

#sidebar {
    position:fixed;
    top: 17vh;
    left: 15px;
    transition: .3s transform;
}

#sidebar-container {
    width: 400px;

    height: 72.5vh;

    background-color: rgb(235, 235, 235);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

    z-index: 100;

    font-size: .7rem;
}

.sidebar-block {
    width: 100%;
    max-height: calc(70vh / 3);
    margin: .5em 0;
}

.sidebar-block:first-child {
    margin-top: 0;
}

.sidebar-block:last-child {
    margin-bottom: 1rem;
}

#sidebar-chevron {
    width: 30px;
    height: 75vh;

    transform: translateX(385px);

    position: fixed;

    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 1000;
}

#sidebar-chevron #chevron-container {
    width: 15px;
    height: 3rem;

    background-color: rgb(235, 235, 235);

    display: flex;

    align-items: center;
    justify-content: center;

    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px;

    cursor: pointer;

    user-select: none;
}

#chevron-container:hover {
    filter: brightness(110%);
}

#sidebar-chevron img {
    width: 100%;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#sidebar-header {
    position: absolute;
    top: 0;
    width: 400px;
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 5px 0;
}

#sidebar-container .top-bar {
    padding-left: 2rem;
    color: white;
    font-weight: bold;
}

.car-info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 1rem;
}

.car-info #car-detail {
    font-size: 1.5em;

    padding: 0.25rem 0.75rem;

    width: 75%;

    border: 2px solid green;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.car-info #dropdown-misc {
    width: 2rem;

    border: 2px solid green;
    border-left: none;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    cursor: pointer;

    display: flex;

    align-items: center;
    justify-content: center;
}

#dropdown {
    display: none;
    transform: translateY(70%);
    right: 5px;
}

#dropdown > ul {
    list-style-type: none;
}

#dtg-id {
    border: none;
    width: 125px;
}

#dropdown-misc:has(input:checked) ~ #dropdown {
    display: block;
    position: absolute;
}

.eco-rating-container {
    display: flex;
    color: green;
    align-items: baseline;
    padding-left: 3rem;
}

.eco-rating-container .eco-img {
    width: 2.5rem;
    padding-bottom: 1em;
}

.eco-rating-container #eco-rating {
    font-size: 3.5em;
    font-weight: bold;
}

.eco-rating-container .eco-jeom {
    font-size: 1.75em;
    height: fit-content;
}

.drive-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drive-stats .drive-stat {
    width: 28%;

    border: 1px solid lightgreen;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    padding: .25rem 0;
    color: darkslategray;
}

.drive-stat .stats-label {
    margin-bottom: .25em;
}

.drive-stat > div .stat-main {
    font-size: 2em;
    font-weight: bold;
}

.drive-stat > div .stat-sub {
    font-size: 1.5em;
    font-weight: bold;
}

.drive-stat > div .lbl-med {
    font-size: 1.3em;
}

.drive-stat > div .lbl-small {
    font-size: 1em;
}

.garbage-stats {
    display: flex;
    flex-direction: column;

    width: 85%;

    border: 1px solid lightgreen;

    border-radius: 7px;

    margin-left: auto;
    margin-right: auto;
}

.garbage-stats .garbage-overview {
    display: flex;

    justify-content: space-around;

    width: 100%;
    height: 4em;

    border-bottom: 1px solid lightgreen;
}

.garbage-overview .garbage-totalcount {
    flex-grow: 6;
    width: 42%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.garbage-totalcount img {
    width: 2em;
}

.garbage-totalcount #garbage-totalcount {
    font-size: 2em;
    font-weight: bold;
    padding: 0 5px;
}

.garbage-totalcount label {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: .3em;
}

.garbage-overview .garbage-avg {
    width: 16%;

    display: flex;
    flex-direction: column;

    background-color: green;

    color: white;

    text-align: center;
}

.garbage-avg label {
    border-bottom: 2px solid white;
    font-size: 0.8em;
}

.garbage-avg span {
    font-weight: bold;
    font-size: 1.5em;
}

.garbage-overview .garbage-totalweight {
    flex-grow: 6;
    width: 42%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.garbage-totalweight #garbage-totalweight {
    font-size: 2em;
    font-weight: bold;
    padding-right: 5px;
}

.garbage-totalweight label {
    color: green;
    font-weight: bold;
    font-size: 1.5em;

    padding-top: .3em;
}

.garbage-details {
    display: flex;

    flex-wrap: wrap;

    margin: 0 10px;
}

.garbage-details .garbage-stat {
    width: 23%;
    height: 3em;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    font-weight: bold;

    color: darkslategray;

    flex-grow: 1;
}

.garbage-stat img {
    width: 1.5em;
    margin-right: 0.5rem;
}

.garbage-stat span {
    width: 3rem;
}

@media screen and (orientation: landscape) and (min-height: 550px) {
    #sidebar-container {
        font-size: .7rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 650px) {
    #sidebar-container {
        font-size: .8rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 750px) {
    #sidebar-container {
        font-size: .9rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 850px) {
    #sidebar-container {
        font-size: 1rem;
    }
}

#vehicle-info {
    margin-bottom: 1rem;
}

#vehicle-info p {
    margin: .15rem 0;
}

#trunk-info {
    height: 80%;
}

.trunk-block {
    display: flex;
    margin: 0 0 20px;
    height: 48%;
    align-items: center;
}

.collection-index {
    margin: 30px 30px 30px 0;
    border: 1px solid #a3de4b;
    border-radius: 15px;
    width: 75px;
}
.collection-index.active {
    background-color: #66CC00;
}

.collection-index p {
    font-size: 1.25rem;
    color: #a3de4b;
    text-align: center;
    margin: 0;
}
.collection-index.active p {
    color: white;
}

.collection-index-header {
    padding-top: 1rem;
}
.collection-index-body {
    padding-bottom: 1rem;
}

.canvas {
    width: 100%;
    height: 100%;
}

.trunk-drawing {
    width: 50%;
    height: 150px;
}

.trunk-stats-block {
    width: 25%;
    height: 95%;
    margin: 0 30px;
    padding: 10px 5px;
    border: 1px solid grey;
    border-radius: 15px;
}

.trunk-stat {
    display: flex;
    align-items: center;
    margin: 1px 0;
    height: calc(100% / 10);
    text-align: center;
    vertical-align: middle;
}

.trunk-stat p {
    font-size: .7rem;
    margin: 0;
}

.trunk-stat.big-font p {
    font-size: .75rem;
}

.trunk-stat > div {
    margin: 0 3px;
    font-size: .65rem;
}

.trunk-stat > div:first-child {
    width: 15%;
}

.size-label {
    width: 30%;
}

.volume-label {
    width: 35%;
}

.fraction-label {
    width: 20%;
}

.color-label {
    width: 50%;
    height: 5px;
    margin: 0 auto;
}

.stats-separator {
    background-color: #C1BEBE;
    height: 2px;
    width: 85%;
    margin: 5px auto;
    border-radius: 5px;
}
